extends layout

block content
    script(defer="defer" src="/javascripts/editProfilePage.js")
    script(defer="defer" type="text/javascript" src="//api.filepicker.io/v1/filepicker.js")
    //- script(defer="defer" type="text/javascript" src="/javascripts/file.js")
    include banner
    .editProfPage
        form#editProfileForm
        .leftPane
            img#profPic(class="profIMG" src="/images/profile/M.jpg")
            .statusBar
                .overlayStat
                img(class="statusIMG" src="/images/profile/offline.png") 
                .pStatus OFFLINE
                .p Current Lobby:  
                .pCurrLobby OFFLINE
            .interactionBar
                .overlayInt
                .addFriend.
                    Add to Friends List <br>
                .msg.
                    Send Message <br>
                .posts.
                    All Posts <br>
                .threads.
                    Threads Started <br>

        .centerPane
            .userAboutHeader
                .userName !{login}
                img(class="userRank" src="/images/profile/rank1.png") 
                .userStatus / last online 7 seconds ago
            .userAbout
                .userAboutL
                    .PERSONAL Personal
                    .userPersonal 
                        input(type="hidden" id="secretProfileIdValue" value='#{profile_id}')
                        input.userFullName(type="text",id ="userFullName",placeholder="Name",value='#{full_name}',required maxlength = 24)
                        input.userAge(type="number" id="userAge" maxlength ="3" pattern="([1-9]|[0-9]|[0-9])" value = '#{user_age}'  min = "0" max = "117")
                        .slash / 
                        select.userSex(value='#{gender}')
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                            <option value="other">Other</option>
                        .slash / 
                        select.userState(value='#{state}')
                            <option value="N/A" #{state==="--"?"selected":""}>N/A</option>
                            <option value="AL" #{state==="AL"?"selected":""}>AL</option>
                            <option value="AK" #{state==="AK"?"selected":""}>AK</option>
                            <option value="AZ" #{state==="AZ"?"selected":""}>AZ</option>
                            <option value="AR" #{state==="AR"?"selected":""}>AR</option>
                            <option value="CA" #{state==="CA"?"selected":""}>CA</option>
                            <option value="CO" #{state==="CO"?"selected":""}>CO</option>
                            <option value="CT" #{state==="CT"?"selected":""}>CT</option>
                            <option value="DE" #{state==="DE"?"selected":""}>DE</option>
                            <option value="DC" #{state==="DC"?"selected":""}>DC</option>
                            <option value="FL" #{state==="FL"?"selected":""}>FL</option>
                            <option value="GA" #{state==="GA"?"selected":""}>GA</option>
                            <option value="HI" #{state==="HI"?"selected":""}>HI</option>
                            <option value="ID" #{state==="ID"?"selected":""}>ID</option>
                            <option value="IL" #{state==="IL"?"selected":""}>IL</option>
                            <option value="IN" #{state==="IN"?"selected":""}>IN</option>
                            <option value="IA" #{state==="IA"?"selected":""}>IA</option>
                            <option value="KS" #{state==="KS"?"selected":""}>KS</option>
                            <option value="KY" #{state==="KY"?"selected":""}>KY</option>
                            <option value="LA" #{state==="LA"?"selected":""}>LA</option>
                            <option value="ME" #{state==="ME"?"selected":""}>ME</option>
                            <option value="MD" #{state==="MD"?"selected":""}>MD</option>
                            <option value="MA" #{state==="MA"?"selected":""}>MA</option>
                            <option value="MI" #{state==="MI"?"selected":""}>MI</option>
                            <option value="MN" #{state==="MN"?"selected":""}>MN</option>
                            <option value="MS" #{state==="MS"?"selected":""}>MS</option>
                            <option value="MO" #{state==="MO"?"selected":""}>MO</option>
                            <option value="MT" #{state==="MT"?"selected":""}>MT</option>
                            <option value="NE" #{state==="NE"?"selected":""}>NE</option>
                            <option value="NV" #{state==="NV"?"selected":""}>NV</option>
                            <option value="NH" #{state==="NH"?"selected":""}>NH</option>
                            <option value="NJ" #{state==="NJ"?"selected":""}>NJ</option>
                            <option value="NM" #{state==="NM"?"selected":""}>NM</option>
                            <option value="NY" #{state==="NY"?"selected":""}>NY</option>
                            <option value="NC" #{state==="NC"?"selected":""}>NC</option>
                            <option value="ND" #{state==="ND"?"selected":""}>ND</option>
                            <option value="OH" #{state==="OH"?"selected":""}>OH</option>
                            <option value="OK" #{state==="OK"?"selected":""}>OK</option>
                            <option value="OR" #{state==="OR"?"selected":""}>OR</option>
                            <option value="PA" #{state==="PA"?"selected":""}>PA</option>
                            <option value="RI" #{state==="RI"?"selected":""}>RI</option>
                            <option value="SC" #{state==="SC"?"selected":""}>SC</option>
                            <option value="SD" #{state==="SD"?"selected":""}>SD</option>
                            <option value="TN" #{state==="TN"?"selected":""}>TN</option>
                            <option value="TX" #{state==="TX"?"selected":""}>TX</option>
                            <option value="UT" #{state==="UT"?"selected":""}>UT</option>
                            <option value="VT" #{state==="VT"?"selected":""}>VT</option>
                            <option value="VA" #{state==="VA"?"selected":""}>VA</option>
                            <option value="WA" #{state==="WA"?"selected":""}>WA</option>
                            <option value="WV" #{state==="WV"?"selected":""}>WV</option>
                            <option value="WI" #{state==="WI"?"selected":""}>WI</option>
                            <option value="WY" #{state==="WY"?"selected":""}>WY</option>
                    .overlayAcc
                    .ACCOUNTSTATS Account Stats
                    .dateJoined Joined:
                        .userdateJoined 5/3/2014
                    .postCount Posts:
                        .userpostCount 2
                    .timeOnline Time Online:
                        .usertimeOnline 287 hrs
                .userAboutR
                    .ABOUTME About Me
                    textarea.aboutMeDesc(rows = "2",placeholder="Write a bit about yourself",cols= "30",maxlength="150",resize = "none") !{description}
                    .FAVORITES Favorites
                    .favGames Games: 
                        input.userfavGames(type="text" id ="userfavGames" placeholder="Counter Strike, WoW, RS" required maxlength = 40 value='#{favorite_game}')
                    .favShows TV Shows: 
                        input.userfavShows(type="text" id ="userfavShows" placeholder="The News Room, GoT" required maxlength = 40 value='#{favorite_tv_show}')
                    .favFoods Foods: 
                        input.userfavFoods(type="text" id ="userfavFoods" placeholder="Peanut butter" required maxlength = 40 value='#{favorite_food}')
            input.saveButton(type="submit" value="Save" onclick="saveButtonClicked();") 
            

        .rightPage
            .friendsListPane
                .overlayFL
                .friendsHeader Friends List
                .friendsList
                    .friend1
                        img(class="friend1StatusIMG" src="/images/profile/online.png")
                        .friend1Name bob
                        .friend1Lobby CSGO MM
