extends layout

block content
	include banner
	.profilePage
		script.
			var username = "!{username}";
			var isFriend = !{isFriend};
			var friendsAvatars = !{JSON.stringify(friendsAvatars)};
			var friendsOnline = !{JSON.stringify(friendsOnline)};
			var friends = !{JSON.stringify(friends)};
			var ifonline = !{online};
		script(defer="defer" src="/javascripts/profile.js")
		.leftPane
			img(class="profIMG" src='#{profileURL?profileURL:"/images/profile/chicken.png"}')
			.statusBar
				if  online
					img(class="statusIMG" src="/images/profile/online.png") 
					.pStatus ONLINE
				else
					img(class="statusIMG" src="/images/profile/offline.png") 
					.pStatus OFFLINE
				.p Current Lobby:
				if current_lobby == "OFFLINE"
					.pCurrLobbyOFF OFFLINE
				else if current_lobby == "lobby"
					a(id="pCurrLobby" class="pCurrLobby" href='/lobby').
						!{decodeURI(current_lobby)}
				else
					a(id="pCurrLobby" class="pCurrLobby" href='/lobby/'+current_lobby).
						!{decodeURI(current_lobby)}
			.interactionBar
				a(id="addEditFriend" class ="addEditFriend" onclick="friendButtonClicked()" href="#").
					Add to Friends List <br>
				a(id="sendViewMSG" class ="sendViewMSG" onclick="msgButtonClicked()" href="#").
					Send Message 
					<br>
				a(class="posts" href="#").
					All Posts <br>
				a(class="threads" href="#").
					Threads Started <br>

		.centerPane
			.userAboutHeader
				.userName !{username} 
				if time > 6000
					img(class="userRank" src="/images/profile/rank1.png") 				
				else if time > 3000
					img(class="userRank" src="/images/profile/rank2.png") 
				else
					img(class="userRank" src="/images/profile/rank3.png") 

				.userStatus / !{last_online}
			.userAbout
				.userAboutL
					.PERSONAL Personal
					.userPersonal 
						.userFullName #{full_name} 
						.userAge #{user_age}
						.slash / 
						.userSex #{gender} 
						.slash / 
						.userState #{state}
					.ACCOUNTSTATS Account Stats
					.dateJoined Joined:
						.userdateJoined 3/14/2015
					.postCount Posts:
						.userpostCount 0
					.timeOnline Time Online:
						if time < 60
							.usertimeOnline !{time} minutes
						else
							.usertimeOnline !{(Math.floor((time*10)/(60))/10)} hours
				.userAboutR
					.ABOUTME About Me
					.aboutMeDesc.
						#{description}			
					.FAVORITES Favorites
					.favGames Games: 
						.userfavGames #{favorite_game}
					.favShows TV Shows: 
						.userfavShows #{favorite_tv_show}
					.favFoods Foods: 
						.userfavFoods #{favorite_food}
			.editProfButton 
				a(onclick="editProfButtonClicked()").
					Edit Profile
		.rightPage
			.friendsListPane
				if login == username
					.friendsHeader Your Friends List
				else 
					.friendsHeader Friends List
				.friendsList
					ul#FList
					//- .friend1
					//- 	img(class="friend1StatusIMG" src="/images/profile/online.png")
					//- 	.friend1Name bob
						
					//- 	.friend1Lobby CSGO MM

