extends layout

block content
	include banner
	.profilePage
		script(defer="defer" src="/javascripts/profile.js")
		.leftPane
			img(class="profIMG" src="/images/profile/M.jpg")
			.statusBar
				img(class="statusIMG" src="/images/profile/offline.png") 
				.pStatus OFFLINE
				.p Current Lobby:  
				.pCurrLobby OFFLINE
			.interactionBar
				a(class="addFriend" href="#").
					Add to Friends List <br>
				a(class="msg" href="#").
					Send Message <br>
				a(class="posts" href="#").
					All Posts <br>
				a(class="threads" href="#").
					Threads Started <br>

		.centerPane
			.userAboutHeader
				.userName !{username}
				img(class="userRank" src="/images/profile/rank1.png") 
				.userStatus / last online 7 seconds ago
			.userAbout
				.userAboutL
					.PERSONAL Personal
					.userPersonal 
						.userFullName #{full_name} 
						.userAge #{user_age}
						.slash / 
						.userSex #{gender} 
						.slash / 
						.userState #{state}
					.ACCOUNTSTATS Account Stats
					.dateJoined Joined:
						.userdateJoined 4/10/2015
					.postCount Posts:
						.userpostCount 2
					.timeOnline Time Online:
						.usertimeOnline 287 hrs
				.userAboutR
					.ABOUTME About Me
					.aboutMeDesc.
						#{description}			
					.FAVORITES Favorites
					.favGames Games: 
						.userfavGames #{favorite_game}
					.favShows TV Shows: 
						.userfavShows #{favorite_tv_show}
					.favFoods Foods: 
						.userfavFoods #{favorite_food}
			.editProfButton 
				a(onclick="editProfButtonClicked()").
					Edit Profile
		.rightPage
			.friendsListPane
				.friendsHeader Friends List
				.friendsList
					.friend1
						img(class="friend1StatusIMG" src="/images/profile/online.png")
						.friend1Name bob
						
						.friend1Lobby CSGO MM

